<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.distancer">

<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:label="Distancer"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

<!--        <activity-->
<!--            android:name=".InvisibleActivity"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:taskAffinity=""-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:exported="false" />-->

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <service-->
<!--            android:name=".MyBackgroundService"-->
<!--            android:foregroundServiceType="location"-->
<!--            android:exported="false"/>-->
<!--        <service-->
<!--            android:name=".LocationService"-->
<!--            android:foregroundServiceType="location"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" />-->
    </application>
</manifest>
