@keyframes intense-pulse {
  0% {
    transform: scale(1);
    outline: 0 solid rgba(230, 22, 16, 0.8);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.6);
    outline: 500px solid rgba(230, 22, 16, 0);
  }
}

.c-distance {
  position: relative;
  color: white;
  margin: 0 auto;
  padding: 0 4px;
  background: #629C44;
  border: 4px solid white;
  border-radius: 40px;
  box-sizing: border-box;
  outline: 0 solid #E61610;
  max-width: 100%;
  overflow: hidden;

  &.m-danger {
    background: #E61610;

    &.m-notification {
      animation: intense-pulse 1s infinite cubic-bezier(0.4, 0, 0.6, 1);
      z-index: 1;
    }
  }

  .c-distance__meanings {
    margin-top: -12px;
  }
}

.c-distance__title {
  font-family: 'Chivo Mono';
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -2px;
}

.c-distance__meanings {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: -4px;
  min-width: 240px;
}

.c-distance__min,
.c-distance__max,
.c-distance__char {
  font-family: 'Chivo Mono';
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  position: relative;
}

.c-distance__min,
.c-distance__max {
  min-width: 40px;
  text-align: center;

  &::before {
    position: absolute;
    font-family: 'Chivo Mono';
    font-weight: normal;
    font-size: 24px;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    letter-spacing: -2px;
  }
}

.c-distance__min::before {
  content: 'min';
}

.c-distance__max::before {
  content: 'max';
}

.c-distance__real {
  font-family: 'Chivo Mono';
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
}