.c-layout {
  background: #545454;
  min-height: 100%;
  position: relative;
}

.c-layout__background {
  height: 100%;
  margin: 0 auto;
  max-width: 392px;
  padding-top: 70px;
  box-sizing: border-box;
  position: absolute;
  inset: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(50% + 196px);
    background: linear-gradient(to left, #444444, #606060);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(50% + 196px);
    background: linear-gradient(to right, #444444, #606060);
  }
}

.c-layout__background-road {
  background: #606060;
  min-height: 100%;
  position: relative;
  padding-top: 70px;
  box-sizing: border-box;

  &::before {
    content: '';
    border-right: 14px solid #BEBD62;
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
  }

  &::after {
    content: '';
    border-right: 14px solid #BEBD62;
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
  }
}

.c-layout__background-broken-stripe {
  border-right: 12px dashed #BFBFBF;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.c-layout__header {
  background: #444444;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.c-layout__header-participant {
  height: 100%;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  max-width: 393px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.c-layout__header-participant-name {
  font-family: 'Ubuntu';
  font-weight: bold;
  color: white;
  font-size: 28px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-layout__header-id {
  font-size: 16px;
  color: lightgray;
}

.c-layout__header-participant-menu {
  position: relative;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
  background: transparent;

  &::before {
    content: '\f013';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-layout__list {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 24px;
  min-height: 100vh;
  box-sizing: border-box;
}

.c-layout__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 104px;
  gap: 24px;
  align-items: center;
  flex-grow: 1;
  max-width: 373px;
  margin: 24px auto 0 auto;

  &:first-child {
    display: block;
    flex-grow: 0;
    margin-top: 0;
  }
}
